<template>
  <template if:true={allOrderProducts}>
    <article class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <lightning-icon icon-name="standard:product_service_campaign_item" alternative-text="ProductsAdded"
              title="ProductsAdded"></lightning-icon>
            <span class="slds-assistive-text">ProductsAdded</span>
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <span>Products Already Added</span>
            </h2>
          </div>
        </header>
      </div>
      <template if:true={displayNoRowMessage}>
        <div class="slds-text-heading_small slds-p-around_small">There are no Products in this Order</div>
      </template>
      <template if:false={displayNoRowMessage}>
        <div class="slds-card__body slds-card__body_inner">
          <lightning-datatable data={allOrderProducts} columns={columns} key-field="Id" sorted-by={sortBy}
            sorted-direction={sortDirection} onsort={handleSortdata} hide-checkbox-column="true">
          </lightning-datatable>
          <div style="display: none;">This Order is in a current status of {orderStatus}</div>
        </div>
      </template>

    </article>

    <article class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <lightning-icon icon-name="standard:product_service_campaign" alternative-text="Available Products"
              title="Available Products"></lightning-icon>
            <span class="slds-assistive-text">Available Products</span>
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <span>Available Products</span>
            </h2>
          </div>
        </header>
      </div>
      <div class="slds-card__body slds-card__body_inner">
        <template if:false={isActivated}>
          <c-lwc_product-list record-id={recordId} is-activated={isActivated}
            onaddedproductschange={handleAddedProductsToOrder}></c-lwc_product-list>
        </template>
        <template if:true={isActivated}>
          <div class="slds-text-heading_small">No more products can be added as the Order has been {orderStatus}</div>
        </template>
      </div>
    </article>
  </template>
</template>