<template>
    <div class="spinner">
        <template if:true={isLoading}>
            <lightning-spinner alternative-text="Loading" variant="brand" size="large">
            </lightning-spinner>
        </template>
    </div>
    <template if:true={allAvailableProducts}>
        <lightning-card>
            <lightning-button variant="brand" label="Add Products" title="Add Products" onclick={addProducts}
                disabled={canAddProduct}></lightning-button>
            <lightning-datatable data={allAvailableProducts} columns={columns} onrowselection={handleOnRowSelect}
                selected-rows={setSelectedRows} key-field="Id">
            </lightning-datatable>
            <c-lwc_paginator onprevious={previousHandler} onnext={nextHandler}></c-lwc_paginator>
        </lightning-card>
    </template>
</template>