<template>
  <div class="spinner">
    <template if:true={isLoading}>
      <lightning-spinner alternative-text="Loading" variant="brand" size="large">
      </lightning-spinner>
    </template>
  </div>


  <template if:true={allOrderProducts}>
    <article class="slds-card">
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
            <lightning-icon icon-name="standard:products" alternative-text="OrderProducts" title="OrderProducts">
            </lightning-icon>
            <span class="slds-assistive-text">Order Products</span>
          </div>
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <span>Order Products ({orderStatus})</span>
            </h2>
          </div>
        </header>
      </div>
      <template if:true={displayNoRowMessage}>
        <div class="slds-text-heading_small slds-p-around_small">There are no Order Products in this Order</div>
      </template>
      <template if:false={displayNoRowMessage}>
        <div class="slds-card__body slds-card__body_inner">
          <template if:true={orderStatus}>
            <div style="display: none;">This Order is in a current status of {orderStatus}</div>
          </template>
          <lightning-datatable data={allOrderProducts} columns={columns} key-field="Id" sorted-by={sortBy}
            sorted-direction={sortDirection} onsort={handleSortdata} hide-checkbox-column="true">
          </lightning-datatable>
          <lightning-button variant="brand" label="Activate" title="Activate" onclick={handleActiveOrder}
            disabled={isActivated}></lightning-button>
        </div>
      </template>
    </article>
  </template>
</template>